<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: [%logger] %msg%n%xEx{full}" />
        </Console>

        <RollingFile name="File"
                     fileName="logs/latest.log"
                     filePattern="logs/%d{yyyy-MM-dd_HH-mm-ss}.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: [%logger] %msg%n%xEx{full}" />

            <Policies>
                <!-- Roll over at application startup -->
                <OnStartupTriggeringPolicy />
            </Policies>

            <!-- Keep the last 30 rolled files -->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>